@model List<LearnerProject.Models.Entities.Review>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/StudentLayout/Index.cshtml";
    int count = 0;
}
<h1>@ViewBag.d</h1>
<h3 class="mt-3">İncelemeler</h3>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="col-md-1 text-center">#</th>
            <th class="col-md-1">Kurs Adı</th>
            <th class="col-md-2">İnceleme Değeri</th>
            <th class="col-md-5">Yorum</th>
            <th class="col-md-1">Öğrenci Adı</th>
            <th class="col-md-2 text-center">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th class="text-center">@count</th>
                <td>@item.Course.CourseName</td>
                <td>@item.ReviewValue</td>
                <td>@item.Comment</td>
                <td>@item.Student.UserName</td>
                <td class="text-center">
                    <a href="/StudentDashboard/DeleteReview/@item.ReviewId" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
                    <a href="/StudentDashboard/UpdateReview/@item.ReviewId" class="btn btn-outline-info"> <i class="fa fa-edit"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/StudentDashboard/AddReview/" class="btn btn-outline-success"><i class="fa fa-plus m-2"></i>İnceleme Ekle</a>