@model LearnerProject.Models.Entities.Review
@{
    ViewBag.Title = "UpdateReview";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3 class="mt-3">İnceleme Güncelle</h3>

<form method="post">

    @Html.TextBoxFor(x => x.ReviewId, new { @class = "form-control mb-3", @placeholder = "Kurs ID", style = "display: none;" })
    @Html.DropDownListFor(x => x.CourseId, (List<SelectListItem>)ViewBag.course, "Kurs Seç", new { @class = "form-control mb-3" })
    @Html.TextBoxFor(x => x.ReviewValue, new { @class = "form-control mb-3", @placeholder = "İnceleme Puanı" })
    @Html.TextBoxFor(x => x.Comment, new { @class = "form-control mb-3", @placeholder = "İnceleme Yorum" })
    @Html.DropDownListFor(x => x.StudentId, (List<SelectListItem>)ViewBag.student, "Öğrenci Seç", new { @class = "form-control mb-3" })

    <button class="btn btn-outline-primary"><i class="fas fa-save"> Kaydet</i></button>
</form>
